[submodule "zaowujie"]
	path = zaowujie
	url = git@github.com:FantasyNJ/zaowujie.git
	branch = gh-pages
[submodule "163music"]
	path = 163music
	url = git@github.com:FantasyNJ/163music.git
	branch = gh-pages
[submodule "edu"]
	path = edu
	url = git@github.com:FantasyNJ/edu.git
	branch = gh-pages
[submodule "smallbee"]
	path = smallbee
	url = git@github.com:FantasyNJ/smallbee.git
	branch = gh-pages
[submodule "macdock"]
	path = macdock
	url = git@github.com:FantasyNJ/macdock.git
	branch = gh-pages
[submodule "licaibao"]
	path = licaibao
	url = git@github.com:FantasyNJ/licaibao.git
	branch = gh-pages
[submodule "circlenav"]
	path = circlenav
	url = git@github.com:FantasyNJ/circlenav.git
	branch = gh-pages
[submodule "photoWall-react"]
	path = photoWall-react
	url = git@github.com:FantasyNJ/photoWall-react.git
	branch = gh-pages
